// COLOURS
$outFox_black: #000000;
$outFox_charcoal: #58595b;
$outFox_white: #ffffff;
$outFox_green: rgb(215, 223, 35);

// SIZES
$fullWidth: 100%;
$pageWidth: 1440px;

    // SIZES--SPACING
    $spaceUltraThin: 0.25rem;
    $spaceThin: 0.5rem;
    $spaceRegular: 1rem;
    $spaceMedium: 1.5rem;
    $spaceThick: 2rem;
    $spaceUltraThick: 3rem;

// FONTS

$outfoxLight: 'hero_newlight';
$outfoxLightItalic: 'hero_newlight_italic';

$outfoxReg: 'hero_newregular';
$outfoxRegItalic: 'hero_newitalic';

$oufoxSemi: 'hero_newsemibold';
$oufoxSemiItalic: 'hero_newsemibold_italic';

$outfoxBold: 'hero_newbold';
$outfoxBoldItalic: 'hero_newbold_italic';

// TRANSITIONS
$tranSimple: 0.3s ease-out all;